name: Build README
on:
  push:
    branches:
      - main
    paths:
      - 'data/**/*'
  pull_request:
    branches:
      - main
    paths:
      - 'scripts/**/*'
defaults:
  run:
    shell: bash -euxo pipefail {0}
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.node-version'
          cache: "yarn"
          cache-dependency-path: '**/yarn.lock'
      - name: Build
        working-directory: ${{ github.workspace }}/scripts
        run: |
          yarn install --frozen-lockfile
          node index.mjs
      - name: Push
        if: github.ref == 'refs/heads/main'
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: 'chore: update readme [skip ci]'
