name: Dump Fire OS version
on:
  workflow_call:
    inputs:
      device-slug:
        required: true
        type: string
      url:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      device-slug:
        description: Slug of device
        required: true
        type: string
      url:
        description: URL of Fire OS bin file
        required: true
        type: string
defaults:
  run:
    shell: bash -euxo pipefail {0}
jobs:
  dump_fireos_version:
    name: Dump Fire OS version
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Generate GitHub token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.FIREOS_ARCHIVE_BOT_APP_ID }}
          private-key: ${{ secrets.FIREOS_ARCHIVE_BOT_APP_SECRET_KEY }}
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Dump Fire OS version
        uses: ./.github/actions/dump_fireos_version
        with:
          device-slug: ${{ inputs.device-slug }}
          url: ${{ inputs.url }}
          token: ${{ steps.generate-token.outputs.token }}
