name: Dump Fire OS version
on:
  workflow_call:
    inputs:
      device-slug:
        required: true
        type: string
      url:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      device-slug:
        description: Slug of device
        required: true
        type: string
      url:
        description: URL of Fire OS bin file
        required: true
        type: string
defaults:
  run:
    shell: bash -euxo pipefail {0}
jobs:
  dump_fireos_version:
    name: Dump Fire OS version
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Generate GitHub token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.FIREOS_ARCHIVE_BOT_APP_ID }}
          private-key: ${{ secrets.FIREOS_ARCHIVE_BOT_APP_SECRET_KEY }}
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Dump Fire OS version
        uses: ./.github/actions/dump_fireos_version
        with:
          device-slug: ${{ inputs.device-slug }}
          url: ${{ inputs.url }}
          token: ${{ steps.generate-token.outputs.token }}
